.bubble {
    background-color: #d2b48c;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    display: block; /* Change from inline-block to block */
    margin-top: 20px;
    text-align: left; /* Align text to the left */
    width: 100%; /* Ensure bubble spans the full width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bubble:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: #d2b48c transparent transparent transparent;
}
